#frameid {
  width: 100%;
  height: 500px;
  margin: auto;
}

#frameid2 {

}


@media screen and (max-width: 767px) {

    #frameid {
        width: 100%;
        height: 100%;
        margin: auto;
    }

}