
  p {
    font-size: 15px;
  }
  
  code {
    padding: 0 0.15rem;
    background: #f5f5f5;
    border-radius: 0.2rem;
  }

  #btn {
    border-radius: 0;  
    background-color: red;
    font-size: 15px;
    font-weight: 700;
  }
  
  #homecard, #homecard2 {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 100%;
  }

  #bannerbtn {
     border-radius: 0;
     background-color: red;
     font-size: 15px;
     font-weight: 700;
  }


  /* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -50px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(31,39,43,0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.main-banner .caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #f5a425;
  font-weight: 900;
}

.main-banner .caption p {
  color: #fff;
  font-size: 14px;
  max-width: 570px;
}

.main-banner .caption .main-button-red {
  margin-top: 30px;
}



#bluecolor {
  color: #135592;
  font-weight: 700;
}

#sectionmargin {
  margin-top: 70px;
}



.tabitems {
  color: white;
  background-color: #135592;
  margin-left: 2px;
  margin-right: 2px;

}

.tabitems .tablink {
  padding: 10px;
  font-weight: bold;
  border-radius: 0;
  border: none;
}

.tablink {
   color: #fff;
}

.tablink.active {
  background-color: red !important;
  color: #fff;
}
#vidbtn {
  background-color: red;
  color:#fff;
  border-radius: 0;
  border: none;
  font-size: 25px;
}

.valign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#socialbtn {
   background-color: #135592;
   color: #fff;
   border: none;
   margin-left: 25px;
   margin-right: 25px;
   font-size: 30px;
}

#homegivebtnid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

#homegivebtn {
  border-radius: 0;
  background-color: red;
  font-size: 15px;
  font-weight: 700;
}

#deptcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding:10px;
}

#missionid {
  color:#fff; 
  width: 40%;
  margin: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height:  250px; 
  flex-direction: column;
}

@media screen and (max-width: 767px) {

  .main-banner .caption h6 {
    font-weight: 500;
  }

  .main-banner .caption h2 {
    font-size: 25px;
  }

  .aboutkccc {
    margin-top: 20px;
  }


  #homecard2 {
    margin-top: 15px;
  }

  .valign {
    height: 100px;
  }

  .tabitems {
    margin-top: 3px;
  
  }

  #socialbtn {
    background-color: #135592;
    color: #fff;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
 }

 #faithid {
    margin-top: 20px;
    text-align: center;
 }

 #homegivebtnid {
  height: 30px;
 }

 #deptcard {
   margin-top: 5px;
   margin-bottom: 5px;
 }

 #missionid {
  color:#fff; 
  width: 100%;
  margin: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height:  270px; 
  flex-direction: column;
}

}






